In [1]:
import pandas as pd

### Class definition

In [2]:
class Employee:
   'My definition of employee class'
   empCount = 0
   instances = []

   def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
      Employee.instances.append(self)
   
   def displayCount(self):
     print ("Total Employee: {}".format(Employee.empCount))

   def displayEmployee(self):
      print ("Name : {}, Salary: {}".format(self.name, self.salary))
   
   def empcountreset(self):
        Employee.empCount = 0
   def get_instances(self):
        print (Employee.instances)

### First set of instances

In [3]:
"This would create first object of Employee class"
emp1 = Employee("Zara", 2000)
"This would create second object of Employee class"
emp2 = Employee("Manni", 5000)
emp1.displayEmployee()
emp2.displayEmployee()
print ("Total Employee: {}".format(Employee.empCount))

Name : Zara, Salary: 2000
Name : Manni, Salary: 5000
Total Employee: 2

** One more instance **

In [4]:
emp3 = Employee("Mike", 3000)

** Checking total employee count **

In [5]:
Employee.empCount

3

** Checking if an instance belong to a class **

In [6]:
isinstance(emp2,Employee)

True

** Displaying the docstring of the class **

In [7]:
print (Employee.__doc__)

My definition of employee class

** Using *'get_instances'* method **

In [8]:
emp1.get_instances()

[<__main__.Employee object at 0x0000015CCF151A00>, <__main__.Employee object at 0x0000015CCF151D90>, <__main__.Employee object at 0x0000015CCF1514C0>]

** Using *'displayEmployee'* method **

In [9]:
emp3.displayEmployee()

Name : Mike, Salary: 3000

** Using *'getattr'* function to check salary**

In [10]:
getattr(emp1,'salary')

2000

** Checking the presence of an attribute using *'hasattr'* function**

In [11]:
# This returns FALSE
hasattr(emp2,'age')

False

** Adding a new attribute simply by defining and setting a value to it **

In [12]:
emp2.age = 30

** Now again checking by *'hasattr'* function **

In [13]:
# Now this returns TRUE
hasattr(emp2,'age')

True

** Using the default *'__dict__'* method **

In [14]:
emp2.__dict__

{'age': 30, 'name': 'Manni', 'salary': 5000}

### Creating dictionary of parameters out of the instance list contained in the class definition

In [15]:
# This function takes a class as input and returns a tuple of dictionaries with information from that class
def update_info(cls):
    foo_salaries = {id(ins): ins.salary for ins in cls.instances}
    foo_names = {id(ins): ins.name for ins in cls.instances}
    return foo_names,foo_salaries

In [16]:
foo_names,foo_salaries = update_info(Employee)

** Making lists of the parameters from dictionaries **

In [17]:
n=list(foo_names.values())
s = list(foo_salaries.values())

In [18]:
print(n)
print (s)

['Zara', 'Manni', 'Mike']
[2000, 5000, 3000]

### Creating a dataframe out of the list of parameters

In [19]:
df=pd.DataFrame(data=s,index=n,columns=['Salary'])
df

       Salary
Zara     2000
Manni    5000
Mike     3000

### Now adding another employee instance and using the *update_info* function

In [20]:
emp4 = Employee("Steve", 4500)

In [21]:
foo_names,foo_salaries = update_info(Employee)
n=list(foo_names.values())
s = list(foo_salaries.values())
df=pd.DataFrame(data=s,index=n,columns=['Salary'])
df

       Salary
Zara     2000
Manni    5000
Mike     3000
Steve    4500

### Sub-class definition

In [22]:
class Assistant (Employee):
    'Inherited from the Employee class'
    def __init__(self,job):
        self.job_title = job
    def jobfunction (self):
        str1= self.job_title
        print("Job of this guy is to act as a", str1)

In [23]:
a = Assistant('Copier')
print ("Job title of the assistant is:",a.job_title)

Job title of the assistant is: Copier

In [24]:
a.displayCount()

Total Employee: 4

In [25]:
a.instances

[<__main__.Employee at 0x242f2f083c8>,
 <__main__.Employee at 0x242f2f08438>,
 <__main__.Employee at 0x242f2efeef0>,
 <__main__.Employee at 0x242f2efe710>]

In [26]:
a.__doc__

'Inherited from the Employee class'

In [27]:
a.jobfunction()

Job of this guy is to act as a Copier

### Simple illustration of the *super()* function

In [28]:
class SimpleClass():
    
    def __init__(self,str_input):
        print("SIMPLE"+str_input)

In [29]:
class ExtendedClass(SimpleClass):
    
    def __init__(self):
        print('EXTENDED')

In [30]:
s = ExtendedClass()

EXTENDED

In [31]:
class ExtendedClass(SimpleClass):
    
    def __init__(self):
        
        super().__init__(" My String")
        print('EXTENDED')

In [32]:
# Now it first executes the __init__ method of the parent class and then executes its own method
s = ExtendedClass()

SIMPLE My String
EXTENDED

### Data hiding

In [33]:
class JustCounter:
   __secretCount = 0
  
   def count(self):
      self.__secretCount += 1
      print (self.__secretCount)

counter = JustCounter()
counter.count()
counter.count()
# However, the object instance does not have the hidden attribute
print ("The next line of code will generate an error...")
print (counter.__secretCount)

1
2
The next line of code will generate an error...

AttributeError: 'JustCounter' object has no attribute '__secretCount'

### Operator overloading

In [35]:
class Vector:
   def __init__(self, a, b):
      self.a = a
      self.b = b

   def __str__(self):
      return 'Vector ({},{})'.format(self.a, self.b)
   
   def __add__(self,other):
      return Vector(self.a + other.a, self.b + other.b)

In [38]:
v1 = Vector(2,10)
v2 = Vector(5,-2)
print ("First vector:", v1)
print ("Second vector:", v2)
print ("Result of the addition",v1 + v2)
print ("But this will throw up an error") 
print(v1-v2)

First vector: Vector (2,10)
Second vector: Vector (5,-2)
Result of the addition Vector (7,8)
But this will throw up an error

TypeError: unsupported operand type(s) for -: 'Vector' and 'Vector'